# **introduction to python programming**

In [15]:
# variable assinment

number  = 100
number1 = 100.20
string  = 'hello world'

num     = '1234'

num1,num2,num3 = 10,20,30

In [16]:
#Printing a variable 
print(number)

100

In [17]:
type(number)

int

In [18]:
# Checking data types

print(type(number))
print(type(number1))
print(type(string))
print(type(num))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [19]:
print('the varieble name in number is ',number)

the varieble name in number is  100

In [20]:
number1 = 1000 
number2 = 2000 
number3 = number1 = number2

print('the addintion of number number1 and number2 is ',number1)

the addintion of number number1 and number2 is  2000

In [21]:
number1 = 1000 
number2 = 2000 
number3 = number1 - number2

print('the substraction  of number number1 and number2 is ',number3)

the substraction  of number number1 and number2 is  -1000

In [22]:
number1 = 1000 
number2 = 2000 
number3 = number1 * number2

print('the multiplication of number number1 and number2 is ',number3)

the multiplication of number number1 and number2 is  2000000

In [23]:
number1 = 1000 
number2 = 2000 
number3 = number2 / number1

print('the division  of number number1 and number2 is ',number3)

the division  of number number1 and number2 is  2.0

In [24]:
# floor division 

number1 = 1000 
number2 = 2000 
number3 = number2 // number1

print('the division  of number number1 and number2 is ',number3)

the division  of number number1 and number2 is  2

In [25]:
num = 2 
num1 ='1234'

print('Additon of num and num1:', (num * num1))

Additon of num and num1: 12341234

In [ ]:
number = input('enter the number: ')
print(number)

In [ ]:
name = input('enter the name: ')
print(name)

In [ ]:
# type casting 
num = int(input('enter the number: '))

print(num)
print(type(num)) # type casting from strinf ti integer

In [ ]:
# addition of two numbers 
num1 = int(input('enter the first number : '))
num2 = int(input('enter the second number : '))
num3 = num1 + num2

print('the sum of two number is ',num3)

In [ ]:
num1 = float(input('enter the first number : '))
num2 = float(input('enter the second number : '))

print('the sum of two number is ',num3)

ValueError: could not convert string to float: ''