# **introduction to python programming**

In [2]:
# variable assinment

number  = 100
number1 = 100.20
str     = 'hello world'

num     = '1234'

num1,num2,num3 = 10,20,30

In [3]:
print(number)

100

In [4]:
type(number)

int

In [ ]:
print(type(number))
print(type(number))
print(number(str))

<class 'int'>
<class 'float'>

TypeError: 'int' object is not callable

In [10]:
print('the varieble name in number is ',number)

the varieble name in number is  100

In [11]:
number1 = 1000 
number2 = 2000 
number3 = number1 = number2

print('the addintion of number number1 and number2 is ',number1)

the addintion of number number1 and number2 is  2000

In [20]:
number1 = 1000 
number2 = 2000 
number3 = number1 - number2

print('the substraction  of number number1 and number2 is ',number3)

the substraction  of number number1 and number2 is  -1000

In [19]:
number1 = 1000 
number2 = 2000 
number3 = number1 * number2

print('the multiplication of number number1 and number2 is ',number3)

the multiplication of number number1 and number2 is  2000000

In [14]:
number1 = 1000 
number2 = 2000 
number3 = number2 / number1

print('the division  of number number1 and number2 is ',number3)

the division  of number number1 and number2 is  2.0

In [18]:
# floot division 

number1 = 1000 
number2 = 2000 
number3 = number2 // number1

print('the division  of number number1 and number2 is ',number3)

the division  of number number1 and number2 is  2

In [ ]:
num = 100 
num1 = '1234'

print